# CPU-only requirements, can work on most devices
torch==2.11.0
torchvision==0.26.0
--extra-index-url https://pypi.org/simple/
ultralytics==8.4.33
opencv-python==4.13.0.92
matplotlib==3.10.8
numpy==2.4.4
pillow==12.2.0